<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "general/header"}}
  </head>
  <body class="bg-primary-soft h-screen grid place-items-center">
    <!-- TODO: answer here -->
    <form
      method="post"
      action="/category/create"
      class="bg-white rounded-xl border border-gray-300 py-8 px-10 m-4 max-w-xl"
    >
      <h1 class="text-3xl font-bold">Add new category</h1>
      <hr class="border border-gray-100 my-4" />
      <div class="mb-4">
        <label for="type" class="block mb-2">Title</label>
        <input
          required
          type="text"
          name="type"
          id="type"
          placeholder="Category title"
          class="py-2 px-4 border border-gray-300 rounded-lg w-full focus:outline-primary-deep"
        />
      </div>

      <div class="mt-8 flex justify-between items-center">
        <button
          type="submit"
          class="py-2 px-6 bg-primary-soft text-white font-semibold rounded-lg"
        >
          Add Category
        </button>
        <a href="/dashboard" class="text-primary-deep">Back</a>
      </div>
    </form>
  </body>
</html>
