<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "general/header"}}
  </head>
  <body class="bg-primary-deep bg-mesh text-white h-full">
    <div class="flex flex-col h-screen">
      <div class="flex items-center flex-shrink-0 justify-between w-full h-16 px-10 bg-white/10 sticky top-0">
        <svg
          class="w-8 aspect-square text-white stroke-current"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
          />
        </svg>
        <div class="flex items-center justify-center">
          <a href="/logout">
            <buton
              class="py-2 px-8 bg-red-600 rounded-lg cursor-pointer font-bold text-white hover:bg-red-700"
            >
              Logout
            </buton>
          </a>
        </div>
      </div>

      <div class="overflow-x-auto flex-1">
        <div class="px-10 mt-6">
          <h1 class="text-2xl font-bold">Kanban App</h1>
        </div>

        <!-- TODO: answer here -->
        <div class="px-10">
          <div class="flex gap-8 mt-6">
            {{range $categoryIndex, $category := .categories}}
            {{$categoryLength := len $.categories}}
              <section class="block w-[360px] flex-shrink-0">
                <header class="pb-4 bg-transparent bg-blend-soft-light">
                  <div class="flex items-center justify-between p-4 bg-white text-primary-deep rounded-lg gap-4">
                    <h2 class="flex items-center gap-2">
                      {{$category.Type}}
                      <span class="inline-block text-white bg-primary-deep py-0.5 px-2 text-xs rounded-full">
                        {{len $category.Tasks}}
                      </span>
                    </h2>
                    <div class="flex items-center gap-2">
                      <a
                        href="/task/add?category={{$category.ID}}"
                        title="Add new task"
                        class="inline-block hover:bg-primary-deep/10 rounded-md p-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-6 aspect-square"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 4.5v15m7.5-7.5h-15"
                          />
                        </svg>
                      </a>
                      <a
                        href="/category/delete?category_id={{$category.ID}}"
                        title="Delete category"
                        class="inline-block hover:bg-red-600/10 rounded-md p-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-6 aspect-square text-red-600"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18L18 6M6 6l12 12"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </header>
                <ul class="space-y-4 overflow-auto h-full">
                  {{$tasksLength := len $category.Tasks}}
                  {{if eq $tasksLength 0}} 
                    <li>
                      <a
                        href="/task/add?category={{$category.ID}}"
                        class="border border-gray-300 border-dashed rounded-lg py-3 px-4 block hover:bg-white/5"
                      >
                        <p class="flex items-center justify-center gap-1">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-5 aspect-square"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M12 4.5v15m7.5-7.5h-15"
                            />
                          </svg>
                          Add new task
                        </p>
                      </a>
                    </li>
                  {{end}}
                  {{range $index, $task := $category.Tasks}}
                    <li>
                      <article
                        class="group bg-white rounded-lg py-4 px-6 block text-primary-deep"
                      >
                        <header class="flex items-center gap-4">
                          <h3 class="text-xl font-semibold flex-1">
                            {{$task.Title}}
                          </h3>

                          <div class="flex gap-2">
                            <a href="/task/update?task_id={{$task.ID}}" title="Edit task" class="hover:bg-primary-soft/10 p-1 rounded-md">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-5 aspect-square"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                                />
                              </svg>
                            </a>
                            <a href="/task/delete?task_id={{$task.ID}}" title="Delete task" class="hover:bg-red-500/10 p-1 rounded-md">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-5 aspect-square text-red-600"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                                />
                              </svg>
                            </a>
                          </div>
                        </header>
                        <hr class="border-t mt-4 mb-3" />
                        <p class="text-gray-500">{{$task.Description}}</p>
                        <footer
                          class="transition-all duration-300 h-0 group-hover:h-11 group-hover:mt-4 flex items-center flex-1"
                        >
                          <div class=" flex gap-4 justify-between flex-1 opacity-0 group-hover:opacity-100 group-hover:border-t group-hover:pt-3 transition-all">
                            {{$prevIndex := categoryDec $categoryIndex}}
                            {{if eq $prevIndex -1}}
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 aspect-square text-gray-300 cursor-not-allowed"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
                                />
                              </svg>
                            {{else}}
                              <a
                                href="/task/update/process?task_id={{$task.ID}}&category_id={{(index $.categories $prevIndex).ID}}"
                                class="p-1 hover:bg-primary-deep/10 rounded-md"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="none"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  class="w-6 aspect-square"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
                                  />
                                </svg>
                              </a>
                            {{end}}

                            {{$nextIndex := categoryInc $categoryIndex}}
                            {{if eq $nextIndex $categoryLength}}
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 aspect-square text-gray-300 cursor-not-allowed"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                                />
                              </svg>
                            {{else}}
                              <a
                                href="/task/update/process?task_id={{$task.ID}}&category_id={{(index $.categories $nextIndex).ID}}"
                                class="p-1 hover:bg-primary-deep/10 rounded-md"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="none"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  class="w-6 aspect-square"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                                  />
                                </svg>
                              </a>
                            {{end}}
                          </div>
                        </footer>
                      </article>
                    </li>
                  {{end}}
                </ul>
              </section>
            {{end}}
            <section>
              <div class="mr-10">
                <a
                href="/category/add"
                class="border border-gray-300 border-dashed rounded-lg py-4 px-12 block hover:bg-white/5"
              >
                <p class="flex items-center justify-center gap-1 whitespace-nowrap">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 aspect-square"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 4.5v15m7.5-7.5h-15"
                    />
                  </svg>
                  Add new category
                </p>
              </a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
