<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "general/header"}}
  </head>
  <body class="h-screen grid place-items-center bg-primary-soft">
    <div class="py-6 px-8 rounded-lg m-4 border bg-white">
      <h1 class="font-bold text-4xl mb-8 text-primary-deep">
        Welcome to kanban app
      </h1>
      <div class="grid grid-cols-2 gap-4">
        <a
          href="/login"
          class="block border rounded-lg py-2 px-4 text-center border-primary-soft text-primary-deep"
          >login</a
        >
        <a
          href="/register"
          class="block border rounded-lg py-2 px-4 text-center bg-primary-soft text-white"
          >Register</a
        >
      </div>
    </div>
  </body>
</html>
